on: [push]

env:
  DAY_OF_WEEK: Monday

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      # - uses: actions/checkout@v3
      - id: foo
        uses: alexdemichieli/hello-world-composite-action@v4
        with:
          who-to-greet: 'Hello Alex'
      - run: echo here's a joke ${{ steps.foo.outputs.random-joke }} #steps foo should 'output' random-joke. Random-joke is 
        shell: bash