on: [push]

env:
  DAY_OF_WEEK: Monday
  First_Name: "Alex"
  VERTEX_JOB_URI: 'https://console.cloud.google.com/vertex-ai/locations'


steps:
  - uses: actions/checkout@v3
  - id: foo
    uses: ./.github/actions/hello-world-composite-action
    with:
      who-to-greet: 'Hello Alex'
  - run: echo "use of global variable in checkmark output ${{env.DAY_OF_WEEK }}" #to access global vars in checkmarks layout you need to access the global context with .env and ${{}}
  - run: echo " this is the variable in log ${VERTEX_JOB_URI}"
  - run: |
      for i in {1..5}
      do
      echo "${VERTEX_JOB_URI}"
      done

  - name: "Another env test without curlies ${{env.First_Name}}! or $First_Name"
    run: echo "$First_Name"
    env:
      First_Name: Mona
